<div class="mdl-card__title">
    <h1 class="mdl-card__title-text">{{todo.Title}}</h1>
    <div class="mdl-layout-spacer"></div>
    <div>
        <button class="mdl-button mdl-button--icon" (click)="refreshList(todo)"><i class="material-icons">refresh</i></button>
        <button class="mdl-button mdl-button--icon"><i class="material-icons">edit</i></button>
        <button class="mdl-button mdl-button--icon"><i class="material-icons">delete</i></button>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable search-icon-field">
            <label class="mdl-button mdl-js-button mdl-button--icon" [for]="'search-' + todo.Id">
                   <i class="material-icons">search</i>
                </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" [id]="'search-' + todo.Id" [(ngModel)]="todo.keyword" />
            </div>
        </div>
    </div>
</div>